<%= form_with(model: bookmark_type, local: true) do |form| %>
  <% if bookmark_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark_type.errors.count, "error") %> prohibited this bookmark_type from being saved:</h2>

      <ul>
        <% bookmark_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bookmark_id %>
    <%= form.text_field :bookmark_id %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= form.text_field :type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
