<p id="notice"><%= notice %></p>
 

<h1>Bookmark_Types</h1>

 <br>
  
<div>
<h2> Bookmarks by Type </h2>
<%= pie_chart @bookmark_type_count %>
</div>


<table>
  <thead>
    <tr>
      <th>Bookmark_id</th>
      <th>Bookmark</th>
      <th>Type_id</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmark_types.each do |bookmark_type| %>
      <tr>
        <td><%= bookmark_type.bookmark_id %></td>
        <td><%= bookmark_type.bookmark.name %></td>
        <td><%= bookmark_type.type_id %></td>
        <td><%= bookmark_type.type.name %></td>
        <td><%= link_to 'Show', bookmark_type %></td>
        <td><%= link_to 'Edit', edit_bookmark_type_path(bookmark_type) %></td>
        <td><%= link_to 'Destroy', bookmark_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark Type', new_bookmark_type_path %>
